<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi primera pagina web</h1>
    <p>mi  primer parrafo de html</p>
    <p>hola {{empleado.nombre}} {{empleado.apellido}} . Tu edad es {{empleado.edad}}</p>
    

    <!--esto es un comentario-->
    {#esto tambien es un comentario#}
    {% if empleado.nombre=="jon" %}
    <p>hola {{empleado.nombre}} {{empleado.apellido}}  </p>
    {% else %}
    <p>hola maria</p>
    {% endif %}
</body>
</html>