<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de platos</title>
    <link href="{{url_for('static',filename='/css/style.css')}}" rel="stylesheet">
</head>
<body>
        
    <table id="platos">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Categoría
            </th>
            <th>
                Precio
            </th>
            <th>
                UM
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
        {%for plato in platos%}
        <tr>
            <td>{{plato.nombre}}</td>
            <td>{{plato.descripcion}}</td>
            <td>{{plato.categoria}}</td>
            <td>{{plato.precio}}</td>
            <td>{{plato.um}}</td>
            <td><a href="/actualizar/{{plato.id}}">Actualizar</a> </td> 
            <td><a href="/eliminar/{{plato.id}}">Eliminar</a> </td> 
        </tr>
        {% endfor %}
    </table> 
    <br>
    <a href="/insertar_plato">Adicionar</a>
    <br>
    <a href="/">Regresar al Menú del día</a>
</body>
</html>
